.binding{
    width: 100%;
    overflow: hidden;
}
.binding .top{
    width:6.5rem;
    margin:0 auto;
    margin-top: 2.656rem;
    overflow: hidden;
    margin-bottom: 1.41rem;
    text-align: center;
}
.binding .total_login .username,.binding .mes_login .username{
    width: 100%;
    background: #e7e7e7;
    height: 1.328125rem;
    clear: both;
    margin-top:0.46875rem;
}
.binding .top-title{
    height: 1.5rem;
    width: 100%;
}
.binding .top-title img{
    height: 1.5rem;
}
.binding .top-title p{
    float:left;
    height: 1.5rem;
    line-height: 1.5rem;
}
.binding .content{
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
}
.binding .username{
    width: 100%;
    background: #e7e7e7;
    height: 1.328125rem;
    clear: both;
    margin-top: 0.46875rem;
}
.binding .code{
    height: 1.328125rem;
    line-height: 1.328125rem;
    width: 100%;
    margin-top: 0.46875rem;
}
.binding .code .identify_code{
    line-height: 1.328125rem;
    height: 1.328125rem;
    width: 4.453125rem;
    border: none;
    background: #e7e7e7;
    padding: 0.3125rem;
}
.binding .code .movecode{
    display: block;
    height: 1.328125rem;
    background: #c8c8c8;
    width: 4.21875rem;
    text-align: center
}
.binding .username .label img{
    width: 0.9375rem;
    height: 0.890625rem;
    margin: 0.21875rem;
}
.binding .input-requiredpwd{
    border: none;
    background: #e7e7e7;
    width: 6.53125rem;
    height: 1.328125rem;
    line-height: 0.703125rem;
    padding: 0.3125rem 0.3125rem 0.3125rem 0;
    float: left;
}
.binding .clear{
    height: 1.328125rem;
}
.binding .clear img {
    float: right;
    width: 0.625rem;
    height: 0.625rem;
    margin-top: 0.39rem;
    margin-right: 0.375rem;
}
.binding .input-required {
    border: none;
    background: #e7e7e7;
    width: 6.53125rem;
    height: 21px;
    height: 1.328125rem;
    line-height: 11px;
    line-height: 0.703125rem;
    padding: 5px 5px 5px 0;
    padding: 0.3125rem 0.3125rem 0.3125rem 0;
}
.binding .clearpwd img {
    width: 0.625rem;
    height: 0.625rem;
    margin-top: 0.39rem;
}
.binding .clearcpwd img {
    width: 0.625rem;
    height: 0.625rem;
    margin-top: 0.39rem;
    margin-right: 0.375rem;
}
.binding .change-show {
    background: #e7e7e7;
    line-height: 1.328125rem;
    height: 1.328125rem;
    display: block;
    margin-right: 0.375rem;
}
.binding .change-show img {
    margin-top: 0.4125rem;
    width: 0.71875rem;
    height: 0.484375rem;
}
.binding .username_rightpwd {
    width: 7.53125rem;
    height: 1.328125rem;
}
/*立即绑定按钮*/
.binding .bind-btn{
    background: #ff6a2e;
    height: 1.328125rem;
    width: 100%;
    color: #fff;
    text-align: center;
    line-height: 1.328125rem;
    margin-top: 0.78125rem;
}
.mfl{
    margin-left:20px;
}