.bg{
  background: #000;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.income{
    width:100%;
    overflow: hidden;
    background-color: #eeeeee;
}
.income .income-list{
    height:auto;
    width:100%;
    padding-top:2rem;
    float:left;
}
.income .income-list .content{
    margin-top:0.4rem;
    width:100%;
    background-color:#fff;
    height:5rem;
}
.income .income-list .content .title{
    width:100%;
}

.title p{
    line-height:0.8rem;
    background-color:#ff6a2e;
    width:2.4rem;
    height:0.8rem;
    text-align: center;
    color:#fff;
    margin-top: 0.3rem;
    float: left;
}
.income .income-list .content .triangle{
    width:0; 
    height:0; 
    border-top:0.8rem solid #ff6a2e;
    border-right:0.4rem solid transparent;float:left;
    margin-top: 0.3rem;
}
.income .income-list .content .details{
   width:100%;
   float:left;
}
.income .income-list .content .details .car-details{
    margin-top:0.6rem;
    float: left;
    width:100%;
    margin-left: 0.4rem;
}
.income .income-list .content .details .profit{
    text-align: center;
}
.income .no-income{
    height:100%;
    width:100%;
    text-align:center;
}
.income .no-income img{
    margin-top:2.9375rem;
    height:3.015625rem;
    width:2.703125rem;
}
.income .no-income p{
    text-align: center;
    color:#ccc;
    line-height: 0.75rem;
}