.NewSpecification{
	width:100%;
	background: #f1f1f2;
    overflow: auto;
}
.NewSpecification .specification-con{
	width: 100%;
	margin-top: 1.6rem;
    height: 200%;
}
.NewSpecification table{
	width:100%;
	background: #fff;
	margin-top: 0.234375rem;
}
.NewSpecification table thead tr td {
    text-align: center;
    height:1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
}
.NewSpecification table tbody tr td, table thead tr td {
    border-bottom: 1px solid #ddd;
}
/*.NewSpecification table thead tr td i {
    display: inline-block;
    width: 0.078125rem;
    height: 0.390625rem;
    background: #ff6a2e;
    margin-right: 0.109375rem;
}*/


.NewSpecification table tbody tr td:first-child {
    padding-left: 0.546875rem;
    text-align: left;
}
.NewSpecification table tbody tr td {
    height: 1.25rem;
    line-height: 1.25rem;
}
.NewSpecification table tbody tr td, table thead tr td {
    border-bottom: 1px solid #ddd;
}

.NewSpecification table tbody tr td:last-child {
    padding-right: 13px;
    text-align: right;
    color: #999;
}
