.register .content{
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
}
.register .username {
    margin-top: 0.46875rem;
    width: 100%;
    background-color: #e7e7e7;
    height: 1.328125rem;
}
.register .input-required {
    width: 78%;
    height: 1.328125rem;
    padding: 0.3125rem;
    border: none;
    background-color: #e7e7e7;
    float: left;
}
.register .username .clear {
    height: 1.328125rem;
    margin-right: 0.375rem;
}
.register .username .clear img {
    float: right;
    width: 0.625rem;
    height: 0.625rem;
    margin-top: 0.39rem;
}
.register .inp {
    height: 1.328125rem;
    line-height: 1.328125rem;
    width: 100%;
    margin-top: 0.46875rem;
}
.register .identify_code {
    line-height: 0.703125rem;
    height: 1.328125rem;
    width: 5.453125rem;
    border: none;
    background: #e7e7e7;
    padding: 0.3125rem;
}
.register .movepwd {
    display: block;
    height: 1.328125rem;
    background: #c8c8c8;
    width: 3.21875rem;
    text-align: center;
}