.type{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:39px;padding-left:54px;}
.car{background:url(../imgs/allbgs.png) no-repeat 0px -39px;height:40px;padding-left:58px;}
.me{background:url(../imgs/allbgs.png) no-repeat 0px -79px;height:41px;padding-left:38px;}
.setting{background:url(../imgs/allbgs.png) no-repeat 0px -120px;height:41px;padding-left:42px;}
.icon4{background:url(../imgs/allbgs.png) no-repeat 0px -161px;height:66px;padding-left:68px;}
.icon5{background:url(../imgs/allbgs.png) no-repeat 0px -227px;height:66px;padding-left:68px;}
.icon2{background:url(../imgs/allbgs.png) no-repeat 0px -293px;height:66px;padding-left:68px;}
.icon3{background:url(../imgs/allbgs.png) no-repeat 0px -359px;height:66px;padding-left:68px;}
.icon1{background:url(../imgs/allbgs.png) no-repeat 0px -425px;height:66px;padding-left:68px;}
